*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-family: fantasy;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
}
.title{
    padding: 20px 20px 5px 20px;
    margin-bottom: 20px;
    margin-top: 100px;
    font-size: 50px;
    color: deeppink;
    transition: color ease 5s;     
}

.title:hover {
    color: black;
  };

.form{
    padding: 5px 20px;
    
}

.label-form{
    font-size: 28px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: darkgrey;

}

.input-form{
    background-color: rgb(252, 220, 243);
    border-radius: 10px;
    border: none;
    padding: 7px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.button{
    background-color: pink;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 7px 20px;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    
}

.paragraph{
    margin: 5px 20px;
    padding: 5px;
    width: 30vw;
    border: solid 3px rgb(216, 141, 193, 0.21);;
    text-align: center;
    font-size: 16px;
    color: darkgrey;
}

.span{
    color: deeppink;
    font-weight: bold;
}